<% if session[:responce] %>
  <h2><%= session[:responce][:messages] %></h2>
<% end %>
<form action="/register" enctype="multipart/form-data" method="POST">
  <textarea  type="text" name="comment"></textarea><br><br>
  <input type="file" name="image"><br><br>
  <input type="submit"><br><br>
</form>
